<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		
		<rewrite>
			<rules>
				<rule name="Rewriter" enabled="true" stopProcessing="true">
					<match url="^(.*)$" ignoreCase="false" />
					<conditions>
						<add input="{R:1}" pattern="^(index\\.php|favicon\\.ico)" ignoreCase="false" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
					</conditions>
					<action type="Rewrite" url="./index.php/{R:1}" appendQueryString="true" />
				</rule>
			</rules>
		</rewrite>
		
        <tracing>
            <traceFailedRequests>
                <add path="*">
                    <traceAreas>
                        <add provider="ASP" verbosity="Verbose" />
                        <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket,Rewrite" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions statusCodes="500" />
                </add>
            </traceFailedRequests>
        </tracing>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
         <defaultDocument>
                    <files>
                        <clear />
                        <add value="index.php" />
                    </files>
                </defaultDocument>
    </system.webServer>
    <location path="darto">
    </location>
</configuration>
